@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clash Display';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/ClashDisplay-Medium.woff2) format('woff2');
  }
}

@layer utilities {
  .leading-7 {
    line-height: 1.75rem !important;
  }
  .leading-8 {
    line-height: 2rem !important;
  }
  .leading-9 {
    line-height: 2.25rem !important;
  }
  .leading-10 {
    line-height: 2.5rem !important;
  }
  .leading-none {
    line-height: 1.125 !important;
  }
  .leading-tight {
    line-height: 1.25 !important;
  }
  .leading-snug {
    line-height: 1.375 !important;
  }
}

.testimonials .slick-track {
  display: flex !important;
  align-items: center !important;
  @media (min-width: 1024px) {
    align-items: stretch !important;
  }
  padding-bottom: 2rem;
}
