@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leading-6 {
    line-height: 1.5rem !important;
  }
  .leading-7 {
    line-height: 1.75rem !important;
  }
  .leading-8 {
    line-height: 2rem !important;
  }
  .leading-9 {
    line-height: 2.25rem !important;
  }
  .leading-10 {
    line-height: 2.5rem !important;
  }
  .leading-11 {
    line-height: 3rem !important;
  }
  .leading-12 {
    line-height: 3.5rem !important;
  }
  .leading-13 {
    line-height: 4rem !important;
  }
  .leading-14 {
    line-height: 4.5rem !important;
  }
  .leading-15 {
    line-height: 5rem !important;
  }
  .leading-16 {
    line-height: 5.5rem !important;
  }
  .leading-17 {
    line-height: 6rem !important;
  }
  .leading-18 {
    line-height: 6.5rem !important;
  }
  .leading-19 {
    line-height: 7rem !important;
  }
  .leading-20 {
    line-height: 7.5rem !important;
  }
  .leading-none {
    line-height: 1.125rem !important;
  }
  .leading-tight {
    line-height: 1.25rem !important;
  }
  .leading-snug {
    line-height: 1.375rem !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.testimonials .slick-track {
  display: flex !important;
  align-items: center !important;
  @media (min-width: 1024px) {
    align-items: stretch !important;
  }
  padding-bottom: 2rem;
}

.blog .slick-slide > div {
  @apply overflow-hidden border border-grey rounded-xl md:mx-4 w-[11/12] max-w-72 mx-auto md:max-w-full;
}

.ourDesign .slick-slide > div {
  @apply overflow-hidden border border-lightGrey rounded-xl sm:mx-4 p-4 py-6 sm:p-6 md:p-8 max-w-72 mx-auto sm:max-w-full;
}

.features .slick-slide > div {
  @apply px-2 max-w-sm mx-auto opacity-0 duration-1000 transition;
}

.features .slick-active > div {
  @apply opacity-100;
}

.features .slick-track {
  @apply flex items-center;
}

.blog .slick-list,
.ourDesign .slick-list,
.features .slick-list {
  @apply -mx-4;
}

.blog .slick-dots,
.ourDesign .slick-dots,
.features .slick-dots {
  @apply -bottom-8;
}

.blog .slick-dots li button::before,
.ourDesign .slick-dots li button::before,
.features .slick-dots li button::before {
  @apply text-offWhite opacity-60 lg:hidden transition duration-300;
}

.blog .slick-dots li.slick-active button::before,
.ourDesign .slick-dots li.slick-active button::before,
.features .slick-dots li.slick-active button::before {
  @apply text-offWhite opacity-100 scale-125 lg:hidden;
}

.slick-track,
.slick-slide,
.slick-list,
.slick-dots {
  @apply focus:outline-none;
}

.overlay {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.slider-with-shadows {
  --default-handle-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  --divider-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.slider-with-shadows {
  @apply focus:outline-none;
}

.labelsGroup:focus-within span {
  @apply lg:border-darkGreen lg:border-opacity-100;
}

.labelGroup:focus-within span {
  @apply border-darkGreen border-opacity-100;
}

.contact-input {
  @apply w-full border-b border-black bg-green placeholder:opacity-0 py-3 px-4 focus:outline-none font-light rounded-none lg:py-4;
}

.postSlider .slick-arrow::before {
  @apply text-black;
}

.postSlider .slick-slide {
  @apply p-2;
}

.gallery .slick-next {
  @apply -right-8 xl:-right-12 xl:scale-150 lg:scale-125 opacity-0 md:opacity-100;
}

.gallery .slick-prev {
  @apply -left-8 xl:-left-12 xl:scale-150 lg:scale-125 opacity-0 md:opacity-100;
}

.sticky-top-rounded {
  @apply rounded-t-[1.5rem] lg:rounded-t-[2rem] 2xl:rounded-t-[2.5rem];
}

.sticky-bottom-rounded {
  @apply rounded-b-[1.5rem] lg:rounded-b-[2rem] 2xl:rounded-b-[2.5rem];
}

.sticky-padding {
  @apply py-[1.5rem] lg:py-[2rem] 2xl:py-[2.5rem];
}

.sticky-margin {
  @apply -mt-[1.5rem] lg:-mt-[2rem] 2xl:-mt-[2.5rem];
}

.sticky-border {
  border-color: #d7dbd2 !important;
}
