@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clash Grotesk';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/ClashGrotesk-Medium.woff2) format('woff2');
  }
}
